*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

// VARIABLES

$color-principal: rgb(243, 83, 83);
$color-secundario: white;
$color-hover: black;
$font: "Gelasio", serif;

// MIXIN

@mixin color-principal {
    background-color: rgb(243, 83, 83);
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
  }

@mixin color-secundario {
    background-color: white;
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    
}

// EXTEND

%heading {
    color: rgb(0, 0, 0);
    font-family: "Gelasio", serif;
    }


// MAPS

$estilos: (
  color: rgb(247, 103, 103),
  centro: center
);

.servicios {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: 1rem;
  color: rgb(247, 103, 103);
}


/*--------------------------------INDEX--------------------------------*/

/*-----BODY-----*/

body{font-family: 'Zen Kurenaido', sans-serif;}
h1{
    background-color: $color-secundario;
    padding: 2rem;
}

.Imagen1:hover {filter: grayscale(80%);}

.Imagen2:hover {filter: grayscale(80%);}

.Imagen3:hover {filter: grayscale(80%);}

.Imagen4:hover {filter: grayscale(80%);}

.Imagen5:hover {filter: grayscale(80%);}

.Imagen6:hover {filter: grayscale(80%);}

.Imagen7:hover {filter: grayscale(80%);}

.Imagen8:hover {filter: grayscale(80%);}


/*-----HEADER-----*/

.header{background-color: #a73c3c;
padding-top: 1rem;
padding-bottom: 1rem;}


.flag{display: flex;
    padding-left: 1rem;                
}

.container{
    font-family: 'Philosopher', sans-serif;
    }



/*-----NAV-----*/

.home:hover{color: $color-hover;}
.services:hover{color: $color-hover;}
.toures:hover{color: $color-hover;}
.acerca:hover{color: $color-hover;}
.contactame:hover{color: $color-hover;}

.header__nav ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav li{
    display: inline-block;
}

// APLICANDO SASS-------------------------------------------------------->

.header__nav a{
    
    text: {
        decoration: none;
        transform: uppercase;
        align: center;
    }
// APLICANDO SASS-------------------------------------------------------->
    
    color: $color-secundario;
    font-size: 0.9rem;
    padding: 0.1rem;
}

.header__titulo{
    color: $color-secundario;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO-----*/



.titulo{display: flex;
justify-content: center;
font-family:'Prata', serif;}

.contenedorFlex{
    display: flex;
    align-content: center;
    flex-direction: column;
}

.parrafo{
    font-family: 'Gelasio', serif;
}



/*-----CARDS-----*/

.cardContainer{display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
       
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Efecto 3D */
  }
  
  /* Posición y tamaño de frente y dorso */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Hover sobre las tarjetas */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Posición del frente y el dorso */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Estilo del frente */
  .flip-card-front {
    background-color: #bbb;
    color: $color-hover;
  }
  
  /* Estilo del dorso de la tarjeta */
  .flip-card-back {
    background-color: $color-principal;
    color: $color-principal;
    transform: rotateY(180deg);
  }

// <-----------------------NESTING Y USO DE VARIABLES----------------------->

.section_contenido{
    background-color: $color-secundario;
    padding: 1rem;
    
    .titulo {font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-principal;
    text-align: justify;
    font-size: 50px;
    }
}

.parrafo{
    background-color: $color-secundario;

    .p{
        text-align: justify;
    }
}



.section_contenido p {
    color: $color-hover;}

.imagenCuerpo{display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;}

.imagenCuerpoDos {box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
text-align: center;
}



/*-----IMAGENES-----*/

.container-fluid{
    display: flex;
    justify-content:center;
    gap: 15px;
    background-color: $color-principal;
    padding: 15px;
    

}


/*-----FOOTER-----*/

.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer ul{
    list-style-type: none;
}

.footer{display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Prata', serif;}

.footer_menu{font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------SERVICIOS----------------------------------------------------*/

.header__servicios{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}


/*-----NAV SERVICIOS-----*/

.header__nav--servicios ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--servicios li{
    display: inline-block;
}

.header__nav--servicios a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--servicios{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO SERVICIOS-----*/

.serviciosTit{display: flex;
    justify-content: center;}

.servicios{
    background-color: rgb(255, 255, 255);
}

.serviciosTit{
    background-color: rgb(255, 255, 255);
}

.servicios p {background-color: rgb(255, 253, 253);
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;}

.serviciosImagenes {
    background-color: rgb(209, 47, 47);
    padding: 1rem;
        }

.gallery{
            width: 98%;
            height: auto;
            /* background-color: #3e1f4e; */
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
            padding: 2rem ;
            margin: 2rem auto;
            background-color: rgb(209, 47, 47);
        }
.gallery  img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            transition: all 0.3s;
        }
        
.gallery  img:hover{
           
            opacity: 0.5;
            transform: scale(1.1);
            
        }

 /*-----FOOTER SERVICIOS-----*/

 .footer__servicios {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__servicios ul{
    list-style-type: none;
}

/*----------------------------------------------------TOURS----------------------------------------------------*/

.header__tours{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}

/*-----NAV TOURS-----*/

.header__nav--tours ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--tours li{
    display: inline-block;
}

.header__nav--tours a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--tours{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO TOURS-----*/

h1 {@extend %heading;}

.toursTit
    {display: flex;
        justify-content: center;
}

.tours p {@include color-secundario()}

.tourCracovia {@include color-secundario()}

.tourGdansk{@include color-principal()}

.tourBreslavia{@include color-secundario()}

.tourVarsovia{@include color-principal()}

 /*-----FOOTER TOURS-----*/

 .footer__tours {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__tours ul{
    list-style-type: none;
}

// /*---ABOUT-------------------*/

h1 {@extend %heading;}
.aboutTit
    {display: flex;
        justify-content: center;
}

.header__about{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}

/*-----NAV ABOUT-----*/

.header__nav--about ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--about li{
    display: inline-block;
}

.header__nav--about a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--about{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO ABOUT-----*/

.aboutMapa{background-color: whitesmoke;
            padding: 1rem;}

.about {background-color: whitesmoke;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: rgb(7, 7, 7);
        text-align: justify;}

/*-----FOOTER ABOUT-----*/

 .footer__about {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__about ul{
    list-style-type: none;
}

    
/*----------------------------------------------------CONTACTO----------------------------------------------------*/
.header__contacto{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}

/*-----NAV CONTACT-----*/

.header__nav--contacto ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--contacto li{
    display: inline-block;
}

.header__nav--contacto a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--contacto{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----FORMULARIO-----*/

.formContactoUno{background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(224, 59, 59);
    }

.formContactoUno{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----FOOTER ABOUT-----*/

.footer__contacto {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__contacto ul{
    list-style-type: none;
}



.container-fluid{display:flex;
flex-direction: column;
background-color: rgb(209, 47, 47); 
}

.i1{
    width: 98%;
    height: auto;
    /* background-color: #3e1f4e; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem ;
    margin: 2rem auto;
    background-color: rgb(209, 47, 47);
}
.i1 img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.gallery  img:hover{
   
    opacity: 0.5;
    transform: scale(1.1);
    
}
/*---------RESPONSIVO SECCIÓN INDEX---------*/
@media screen and (max-width: 850px){

    .i1 {
        grid-template-columns: repeat(1, 1fr);
        background-color: rgb(209, 47, 47);
    }
}
    
@media screen and (max-width: 480px){


    .i1{
        grid-template-columns: repeat(1, 1fr);
        background-color: rgb(209, 47, 47);
    }
}

// TÍTULO

@media screen and (max-width: 850px){

    .section_contenido .titulo {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #f35353;
        text-align: justify;
        font-size: 35px;
    }
      
    }

@media screen and (max-width: 480px){

    .section_contenido .titulo {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #f35353;
        text-align: justify;
        font-size: 20px;
    }
      
    }

/*---------RESPONSIVO SECCIÓN SERVICIOS---------*/

// CARDS

@media screen and (max-width: 850px){
.cardContainer {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: rgb(209, 47, 47);
}
}

@media screen and (max-width: 480px){
    
    
    .cardContainer {display: flex;
        align-content: center;
        justify-content: space-evenly;
        padding-top: 3rem;
        padding-bottom: 3rem;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        background-color: rgb(209, 47, 47);
    }
    
    
}


@media screen and (max-width: 850px){

        .gallery {
            grid-template-columns: repeat(1, 1fr);
            background-color: #695fd8;
        }
    }
        
@media screen and (max-width: 480px){
    
    
        .gallery {
            grid-template-columns: repeat(1, 1fr);
            background-color: #f10c6c;
        }
    }
      
/*---------RESPONSIVO SECCIÓN TOURS---------*/   

@media screen and (max-width: 850px){

        .tourVarsovia {
            background-color: #695fd8;
        }
        .tourCracovia{
            background-color: chartreuse;
        }
        .tourGdansk{
            background-color: darkcyan;
        }
        .tourBreslavia{
            background-color: darkslategrey;
        }
    }
        
@media screen and (max-width: 480px){
        
        .tourVarsovia {
            background-color: #f10c6c;
        }
        .tourCracovia{
            background-color: rgb(15, 144, 196);
        }
        .tourGdansk{
            background-color: rgb(76, 0, 139);
        }
        .tourBreslavia{
            background-color: rgb(111, 3, 138);
        }
    }
    
      