@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: black;
  font-family: "Gelasio", serif;
}

.servicios {
  background-color: #f76767;
  text-align: center;
  padding: 1rem;
  color: #f76767;
}

/*--------------------------------INDEX--------------------------------*/
/*-----BODY-----*/
body {
  font-family: "Zen Kurenaido", sans-serif;
}

h1 {
  background-color: white;
  padding: 2rem;
}

.Imagen1:hover {
  filter: grayscale(80%);
}

.Imagen2:hover {
  filter: grayscale(80%);
}

.Imagen3:hover {
  filter: grayscale(80%);
}

.Imagen4:hover {
  filter: grayscale(80%);
}

.Imagen5:hover {
  filter: grayscale(80%);
}

.Imagen6:hover {
  filter: grayscale(80%);
}

.Imagen7:hover {
  filter: grayscale(80%);
}

.Imagen8:hover {
  filter: grayscale(80%);
}

/*-----HEADER-----*/
.header {
  background-color: #a73c3c;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flag {
  display: flex;
  padding-left: 1rem;
}

.container {
  font-family: "Philosopher", sans-serif;
}

/*-----NAV-----*/
.home:hover {
  color: black;
}

.services:hover {
  color: black;
}

.toures:hover {
  color: black;
}

.acerca:hover {
  color: black;
}

.contactame:hover {
  color: black;
}

.header__nav ul {
  padding: 2rem;
  list-style-type: none;
}

.header__nav li {
  display: inline-block;
}

.header__nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  padding: 0.1rem;
}

.header__titulo {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/*-----CONTENIDO-----*/
.titulo {
  display: flex;
  justify-content: center;
  font-family: "Prata", serif;
}

.contenedorFlex {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.parrafo {
  font-family: "Gelasio", serif;
}

/*-----CARDS-----*/
.cardContainer {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Efecto 3D */
}

/* Posición y tamaño de frente y dorso */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hover sobre las tarjetas */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Posición del frente y el dorso */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Estilo del frente */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Estilo del dorso de la tarjeta */
.flip-card-back {
  background-color: #f35353;
  color: #f35353;
  transform: rotateY(180deg);
}

.section_contenido {
  background-color: white;
  padding: 1rem;
}
.section_contenido .titulo {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #f35353;
  text-align: justify;
  font-size: 50px;
}

.parrafo {
  background-color: white;
}
.parrafo .p {
  text-align: justify;
}

.section_contenido p {
  color: black;
}

.imagenCuerpo {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imagenCuerpoDos {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/*-----IMAGENES-----*/
.container-fluid {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #f35353;
  padding: 15px;
}

/*-----FOOTER-----*/
.footer {
  background-color: white;
  color: #c42222;
  padding: 2rem;
}

.footer ul {
  list-style-type: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Prata", serif;
}

.footer_menu {
  font-family: "Roboto", sans-serif;
}

/*----------------------------------------------------SERVICIOS----------------------------------------------------*/
.header__servicios {
  background-color: #d12f2f;
  background-size: cover;
  background-position: center;
}

/*-----NAV SERVICIOS-----*/
.header__nav--servicios ul {
  padding: 2rem;
  list-style-type: none;
}

.header__nav--servicios li {
  display: inline-block;
}

.header__nav--servicios a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  background-color: #d12f2f;
  padding: 0.1rem;
}

.header__titulo--servicios {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/*-----CONTENIDO SERVICIOS-----*/
.servicios p {
  background-color: whitesmoke;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #070707;
  text-align: justify;
}

.serviciosImagenes {
  background-color: whitesmoke;
  padding: 1rem;
}

.gallery {
  width: 98%;
  height: auto;
  /* background-color: #3e1f4e; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 2rem;
  margin: 2rem auto;
  background-color: #d16b6b;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.gallery img:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

/*-----FOOTER SERVICIOS-----*/
.footer__servicios {
  background-color: whitesmoke;
  color: #c42222;
  padding: 2rem;
}

.footer__servicios ul {
  list-style-type: none;
}

/*----------------------------------------------------TOURS----------------------------------------------------*/
.header__tours {
  background-color: #d12f2f;
  background-size: cover;
  background-position: center;
}

/*-----NAV TOURS-----*/
.header__nav--tours ul {
  padding: 2rem;
  list-style-type: none;
}

.header__nav--tours li {
  display: inline-block;
}

.header__nav--tours a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  background-color: #d12f2f;
  padding: 0.1rem;
}

.header__titulo--tours {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/*-----CONTENIDO TOURS-----*/
.tours p {
  background-color: white;
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}

.tourCracovia {
  background-color: white;
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}

.tourGdansk {
  background-color: #f35353;
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}

.tourBreslavia {
  background-color: white;
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}

.tourVarsovia {
  background-color: #f35353;
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
}

/*-----FOOTER TOURS-----*/
.footer__tours {
  background-color: whitesmoke;
  color: #c42222;
  padding: 2rem;
}

.footer__tours ul {
  list-style-type: none;
}

.header__about {
  background-color: #d12f2f;
  background-size: cover;
  background-position: center;
}

/*-----NAV ABOUT-----*/
.header__nav--about ul {
  padding: 2rem;
  list-style-type: none;
}

.header__nav--about li {
  display: inline-block;
}

.header__nav--about a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  background-color: #d12f2f;
  padding: 0.1rem;
}

.header__titulo--about {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/*-----CONTENIDO ABOUT-----*/
.aboutMapa {
  background-color: whitesmoke;
  padding: 1rem;
}

.about {
  background-color: whitesmoke;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #070707;
  text-align: justify;
}

/*-----FOOTER ABOUT-----*/
.footer__about {
  background-color: whitesmoke;
  color: #c42222;
  padding: 2rem;
}

.footer__about ul {
  list-style-type: none;
}

/*----------------------------------------------------CONTACTO----------------------------------------------------*/
.header__contacto {
  background-color: #d12f2f;
  background-size: cover;
  background-position: center;
}

/*-----NAV CONTACT-----*/
.header__nav--contacto ul {
  padding: 2rem;
  list-style-type: none;
}

.header__nav--contacto li {
  display: inline-block;
}

.header__nav--contacto a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  background-color: #d12f2f;
  padding: 0.1rem;
}

.header__titulo--contacto {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/*-----FORMULARIO-----*/
.formContactoUno {
  background-color: white;
  padding: 1rem;
  font-size: 1.2rem;
  color: #e03b3b;
}

.formContactoUno {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----FOOTER ABOUT-----*/
.footer__contacto {
  background-color: whitesmoke;
  color: #c42222;
  padding: 2rem;
}

.footer__contacto ul {
  list-style-type: none;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  background-color: #d12f2f;
}

.i1 {
  width: 98%;
  height: auto;
  /* background-color: #3e1f4e; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 2rem;
  margin: 2rem auto;
  background-color: #d12f2f;
}

.i1 img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.gallery img:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

/*---------RESPONSIVO SECCIÓN INDEX---------*/
@media screen and (max-width: 850px) {
  .i1 {
    grid-template-columns: repeat(1, 1fr);
    background-color: #d12f2f;
  }
}
@media screen and (max-width: 480px) {
  .i1 {
    grid-template-columns: repeat(1, 1fr);
    background-color: #d12f2f;
  }
}
/*---------RESPONSIVO SECCIÓN SERVICIOS---------*/
@media screen and (max-width: 850px) {
  .cardContainer {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: #d12f2f;
  }
}
@media screen and (max-width: 480px) {
  .cardContainer {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: #d12f2f;
  }
}
@media screen and (max-width: 850px) {
  .gallery {
    grid-template-columns: repeat(15, 1fr);
    background-color: #695fd8;
  }
}
@media screen and (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    background-color: #f10c6c;
  }
}
/*---------RESPONSIVO SECCIÓN TOURS---------*/
@media screen and (max-width: 850px) {
  .tourVarsovia {
    background-color: #695fd8;
  }

  .tourCracovia {
    background-color: chartreuse;
  }

  .tourGdansk {
    background-color: darkcyan;
  }

  .tourBreslavia {
    background-color: darkslategrey;
  }
}
@media screen and (max-width: 480px) {
  .tourVarsovia {
    background-color: #f10c6c;
  }

  .tourCracovia {
    background-color: #0f90c4;
  }

  .tourGdansk {
    background-color: #4c008b;
  }

  .tourBreslavia {
    background-color: #6f038a;
  }
}

/*# sourceMappingURL=estilos.css.map */
