*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/*----------------------------------------------------INDEX----------------------------------------------------*/

/*-----BODY-----*/

body{font-family: 'Zen Kurenaido', sans-serif;}
h1{
    background-color: white;
    padding: 2rem;
}

.Imagen1:hover {filter: grayscale(80%);}

.Imagen2:hover {filter: grayscale(80%);}

.Imagen3:hover {filter: grayscale(80%);}

.Imagen4:hover {filter: grayscale(80%);}

.Imagen5:hover {filter: grayscale(80%);}

.Imagen6:hover {filter: grayscale(80%);}

.Imagen7:hover {filter: grayscale(80%);}

.Imagen8:hover {filter: grayscale(80%);}


/*-----HEADER-----*/

.header{display: flex;
padding: 1rem;
}

.header__nav{display: flex;
justify-content: right;
padding-left: 55rem;
}

.header{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(175, 54, 54));
}




/*-----NAV-----*/

.home:hover{color: black;}
.services:hover{color: black;}
.toures:hover{color: black;}
.acerca:hover{color: black;}
.contactame:hover{color: black;}

.header__nav ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav li{
    display: inline-block;
}

.header__nav a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    padding: 0.1rem;
}

.header__titulo{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO-----*/



.titulo{display: flex;
justify-content: center;}

.contenedorFlex{
    display: flex;
    align-content: center;
}



.section_contenido{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(209, 47, 47);
    text-align: justify;
}



.section_contenido p {
    color: black;}

.imagenCuerpo{display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;}

.imagenCuerpoDos {box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
text-align: center;
}



/*-----IMAGENES-----*/

.container{
    display: flex;
    justify-content:center;
    gap: 15px;
    background-color: rgb(211, 55, 55);
    padding: 15px;

}


/*-----FOOTER-----*/

.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer ul{
    list-style-type: none;
}


/*----------------------------------------------------SERVICIOS----------------------------------------------------*/

.header__servicios{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}


/*-----NAV SERVICIOS-----*/

.header__nav--servicios ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--servicios li{
    display: inline-block;
}

.header__nav--servicios a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--servicios{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO SERVICIOS-----*/

.servicios p {background-color: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;}

.serviciosImagenes {
    background-color: whitesmoke;
    padding: 1rem;
        }

.gallery{
            width: 98%;
            height: auto;
            /* background-color: #3e1f4e; */
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
            padding: 2rem ;
            margin: 2rem auto;
            background-color: #d16b6b;
        }
.gallery  img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            transition: all 0.3s;
        }
        
.gallery  img:hover{
           
            opacity: 0.5;
            transform: scale(1.1);
            
        }

 /*-----FOOTER SERVICIOS-----*/

 .footer__servicios {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__servicios ul{
    list-style-type: none;
}

/*----------------------------------------------------TOURS----------------------------------------------------*/

.header__tours{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}

/*-----NAV TOURS-----*/

.header__nav--tours ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--tours li{
    display: inline-block;
}

.header__nav--tours a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--tours{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO TOURS-----*/


.tours p {background-color: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;}

.tourCracovia{background-color: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;
}

.tourGdansk{background-color: rgb(209, 47, 47);
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;
}

.tourBreslavia{background-color: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;
}

.tourVarsovia{background-color: rgb(209, 47, 47);
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(7, 7, 7);
    text-align: justify;
}

 /*-----FOOTER TOURS-----*/

 .footer__tours {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__tours ul{
    list-style-type: none;
}

/*----------------------------------------------------ABOUT----------------------------------------------------*/

.header__about{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}

/*-----NAV ABOUT-----*/

.header__nav--about ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--about li{
    display: inline-block;
}

.header__nav--about a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--about{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----CONTENIDO ABOUT-----*/

.aboutMapa{background-color: whitesmoke;
            padding: 1rem;}

.about {background-color: whitesmoke;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: rgb(7, 7, 7);
        text-align: justify;}

/*-----FOOTER ABOUT-----*/

 .footer__about {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__about ul{
    list-style-type: none;
}

    
/*----------------------------------------------------CONTACTO----------------------------------------------------*/
.header__contacto{
    background-color: rgb(209, 47, 47);
    background-size: cover;
    background-position: center;
}

/*-----NAV CONTACT-----*/

.header__nav--contacto ul {
    padding: 2rem;
    list-style-type: none;
}

.header__nav--contacto li{
    display: inline-block;
}

.header__nav--contacto a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: rgb(209, 47, 47);
    padding: 0.1rem;
}

.header__titulo--contacto{
    color: white;
    font-size: 2rem;
    padding: 2rem;
    }

/*-----FORMULARIO-----*/

.formContacto{background-color: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(224, 59, 59);
    }

/*-----FOOTER ABOUT-----*/

.footer__contacto {
    background-color: whitesmoke;
    color: rgb(196, 34, 34);
    padding: 2rem;
}

.footer__contacto ul{
    list-style-type: none;
}

/*-----GRID IMAGENES HOME-----*/

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    }

.container { 
    display: flex;
    justify-content: center;
   
}
  
.i1 {display: flex;
padding-top: 2rem;
padding-right: 5rem;
padding-bottom: 3rem;
}

.i1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px 4px;
    grid-auto-flow: row;
    grid-template-areas:
      "Imagen1 Imagen2 Imagen3 Imagen4"
      "Imagen5 Imagen6 Imagen7 Imagen8";
    
  }


/*---------RESPONSIVO SECCIÓN SERVICIOS---------*/


@media screen and (max-width: 850px){

        .gallery {
            grid-template-columns: repeat(2, 1fr);
            background-color: #695fd8;
        }
    }
        
@media screen and (max-width: 480px){
    
    
        .gallery {
            grid-template-columns: repeat(1, 1fr);
            background-color: #f10c6c;
        }
    }
